<!doctype html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "I failed the turing test" %></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <style type="text/css">
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .sidebar-nav {
    padding: 9px 0;
  }
  </style>

  <%= yield(:head) %>
</head>

<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">I failed the turing test</a>

        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="#about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header">Posts</li>

            <% @months = Post.find_all_grouped_by_month %>
            <% if @months.empty? -%>
            <p>Once posts are added they will start to appear in this archive.</p>
            <% else -%>

            <% @months.each do |month| -%>
            <h3><%= format_month(month.date) %></h3>
            <ul class='archive-month'>
              <% month.posts.each do |post| -%>
              <li><%= link_to(post.title, post_path(post)) %><% unless post.tags.empty? %> <span class='tags'>(<%= linked_tag_list(post.tags) %>)</span><% end -%></li>
              <% end -%>
            </ul>
            <% end -%>

            <% end -%>

          </ul>
        </div><!--/.well -->
      </div><!--/span-->
      <div class="span9">
        <%= yield %>          
      </div><!--/span-->
    </div><!--/row-->

    <hr>

    <footer>
      <p>Adam Wong 2012</p>
      <p>https://github.com/adamwong246/enki</p>
      <%= image_tag "sig.jpg" %>
    </footer>

  </div><!--/.fluid-container-->


</body>
</html>